services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    restart: always
    command:
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:{{ traefik_web_port }}"
    ports:
      - "{{ traefik_web_port }}:{{ traefik_web_port }}"
      - "{{ traefik_dashboard_port }}:{{ traefik_dashboard_port }}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.{{ root_domain }}`)"
      - "traefik.http.routers.traefik.service=api@internal"  
    networks:
      - proxy

  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    restart: always
    networks:
      - proxy
    ports:
      - "{{ dns_port }}:{{ dns_port }}/tcp"
      - "{{ dns_port }}:{{ dns_port }}/udp"
      - "{{ pihole_web_port }}:80"
    environment:
      TZ: '{{ timezone }}'
      FTLCONF_misc.dnsmasq_d: 'true'
      FTLCONF_dns_listeningMode: 'all'
    volumes:
      - './etc-pihole:/etc/pihole'
      - './dnsmasq.d:/etc/dnsmasq.d'
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pihole.rule=Host(`pihole.{{ root_domain }}`)"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"

  whoami:
    image: traefik/whoami
    container_name: test-whoami
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`whoami.{{ root_domain }}`)"

  nginx:
    image: nginx:alpine
    container_name: test-nginx
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx.rule=Host(`test.{{ root_domain }}`)"
      - "traefik.http.services.nginx.loadbalancer.server.port=80"

networks:
  proxy:
    driver: bridge