---
- name: Stwórz strukturę katalogów
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "{{ install_path }}"
    - "{{ install_path }}/etc-pihole"
    - "{{ install_path }}/dnsmasq.d"

- name: Wgraj konfigurację Wildcard DNS
  template:
    src: 99-wildcard.conf
    dest: "{{ install_path }}/dnsmasq.d/99-wildcard.conf"
  notify: Restart Pihole

- name: Wgraj Docker Compose
  template:
    src: docker-compose.yml.j2
    dest: "{{ install_path }}/docker-compose.yml"
  register: compose_file  # Śledzimy, czy plik się zmienił

- name: Uruchom kontenery (Docker Compose)
  community.docker.docker_compose_v2:
    project_src: "{{ install_path }}"
    state: present
    pull: always
    # Jeśli plik się zmienił, wymuś restart kontenerów
    recreate: "{{ 'always' if compose_file.changed else 'auto' }}"
  notify: Restart Pihole
- name: Czekaj chwilę na uruchomienie DNS resolvera
  pause:
    seconds: 5

- name: Testuj odpowiedź DNS dla domeny .domek (wewnątrz kontenera)
  command: "docker exec pihole dig +short @127.0.0.1 whoami.{{ root_domain }}"
  register: dns_test
  changed_when: false
  retries: 5
  delay: 3
  until: dns_test.stdout != ""

- name: Walidacja wyniku DNS
  assert:
    that:
      - dns_test.stdout == server_ip
    fail_msg: "BŁĄD: DNS zwrócił '{{ dns_test.stdout }}' zamiast oczekiwanego '{{ server_ip }}'"
    success_msg: "SUKCES: Domena whoami.{{ root_domain }} poprawnie wskazuje na {{ server_ip }}"

- name: Testuj dostępność HTTP przez Traefika
  uri:
    url: "http://127.0.0.1"
    headers:
      Host: "whoami.{{ root_domain }}"
    return_content: no
    status_code: 200
  register: http_test
  ignore_errors: yes

- name: Podsumowanie statusu usługi
  debug:
    msg: "System gotowy! Możesz wejść na http://whoami.{{ root_domain }}"
  when: http_test.status == 200