---
- name: Install Docker and dependencies
  pacman:
    name: "{{ docker_packages }}"
    state: present
    update_cache: yes
  when: package_manager == "pacman"

- name: Enable Docker service
  service:
    name: docker
    state: started
    enabled: yes
