---
- name: Install Docker and dependencies (Arch Linux)
  pacman:
    name:
      - docker
      - docker-compose
      - python-docker   # To jest kluczowe! (zwykle ciągnie za sobą python-requests)
      - python-requests # Dla pewności dodajmy też to
      - ldns
    state: present
    update_cache: yes
- name: Enable Docker service
  service:
    name: docker
    state: started
    enabled: yes

- name: Enable IP Forwarding (Critical for routing!)
  sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    reload: yes

- name: Load br_netfilter module
  modprobe:
    name: br_netfilter
    state: present

- name: Ensure module loads at startup
  copy:
    content: "br_netfilter"
    dest: /etc/modules-load.d/br_netfilter.conf

- name: Set FORWARD policy to ACCEPT in iptables
  iptables:
    chain: FORWARD
    policy: ACCEPT

- name: Save iptables rules (Arch Linux)
  shell: "iptables-save > /etc/iptables/iptables.rules"
  changed_when: false